{% extends 'base.html' %}

{% block meta %}
<title>Tambah Task</title>
{% load static %}
<link rel="stylesheet" href="{% static 'todolist/style.css' %}"/>
{% endblock meta %}

{% block content %}  


<body>
    <div class = "center">
        <div class = "create_task text-center">
        
            <h2>Tambah Task</h2>  
        
                <form method="POST" >  
                    {% csrf_token %}   
                        <div class="form-outline form-black mb-4">
                            <label class="form-label" for="typeEmailX">judul</label>
                            {{form.judul}}
                        </div>
                        <div class="form-outline form-black mb-4">
                            <label class="form-label" for="typeEmailX">Deskripsi</label>
                            {{form.deskripsi}}
                        </div> 
                        <div>
                            <input class="btn btn-primary" type="submit" name="submit" value="Tambah"/>
                        </div>
                </form>
        
            {% if messages %}  
                <ul>   
                    {% for message in messages %}  
                        <li>{{ message }}</li>  
                        {% endfor %}  
                </ul>   
            {% endif %}
        
        </div>  
    </div>
</body>


{% endblock content %}