{% extends 'base.html' %}

{% block meta %}
<title>Tambah Task</title>

<style>
    body{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.center{
    text-align: center;
    
}
.create_task{
    border-radius: 10px;
    background-color: rgb(181, 200, 255);
    text-align: center;
    padding: 2rem;
}

h2{
    margin-bottom: 10px;
}
</style>
{% endblock meta %}

{% block content %}  


<body>
    <div class = "center">
        <div class = "create_task text-center">
        
            <h2>Tambah Task</h2>  
        
                <form method="POST" >  
                    {% csrf_token %}   
                        <div class="form-outline form-black mb-4">
                            <label class="form-label" for="typeEmailX">Judul</label>
                            {{form.judul}}
                        </div>
                        <div class="form-outline form-black mb-4">
                            <label class="form-label" for="typeEmailX">Deskripsi</label>
                            {{form.deskripsi}}
                        </div> 
                        <div>
                            <input class="btn btn-primary" type="submit" name="submit" value="Tambah"/>
                        </div>
                </form>
        
            {% if messages %}  
                <ul>   
                    {% for message in messages %}  
                        <li>{{ message }}</li>  
                        {% endfor %}  
                </ul>   
            {% endif %}
        
        </div>  
    </div>
</body>


{% endblock content %}