{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
<style>
  body{
      background-color: rgb(233, 233, 233);
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .register{
  width: 30%;
  padding: 2rem;
  margin: auto;
  background-color: white;
  }

  .tombol{
    width: 100%;
  }
</style>
{% endblock meta %}

{% block content %}  

<div class = "register">
    
    <h2 class="text-uppercase text-center mb-5">Create an account</h2>

    <form method="POST">
        {% csrf_token %}
          <span class="after:content-['*'] after:text-red-500 w-full">
            {{ form.username.label }}
          </span>
          <div class="form-outline mb-4">
            <input
              type="text"
              name="username"
              placeholder="Username"
              class="form-control form-control-lg"
            />
            {% if form.username.errors %}
            <div class="mt-2 text-red-500 text-sm w-full">
              {{ form.username.errors }}
            </div>
            {% endif %}
          </div>
    
          <span class="after:content-['*'] after:text-red-500 w-full">
            {{ form.password1.label }}
          </span>
          <div class="form-outline mb-4">
            <input
              type="password"
              name="password1"
              placeholder="Password"
              class="form-control form-control-lg"
            />
            {% if form.password1.errors %}
            <div class="mt-2 text-red-500 text-sm w-full">
              {{ form.password1.errors }}
            </div>
            {% endif %}
          </div>
    
          <span class="after:content-['*'] after:text-red-500 ">
            {{ form.password2.label }}
          </span>
          <div class="form-outline mb-4">
            <input
              type="password"
              name="password2"
              placeholder="Password"
              class="form-control form-control-lg"
            />
            {% if form.password2.errors %}
            <div class="mt-2 text-red-500 text-sm w-full">
              {{ form.password2.errors }}
            </div>
            {% endif %}
          </div>
    
          <div class="d-flex justify-content-center ">
            <input
            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" 
            value = "Register"
            type="submit"
            class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" value = "Register"/>
            </div>

          <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/todolist/login/"
            class="fw-bold text-body"><u>Login here</u></a></p>
      </form>


</div>

        <!-- <form method="POST" >  
            {% csrf_token %}  
            <table>  
                {{ form.as_table }}  
                <tr>  
                    <td></td>
                    <td><input type="submit" name="submit" value="Daftar"/></td>  
                </tr>  
            </table>  
        </form> -->

    {% if messages %}  
        <ul>   
            {% for message in messages %}  
                <li>{{ message }}</li>  
                {% endfor %}  
        </ul>   
    {% endif %}

</div>  

{% endblock content %}