{% extends 'base.html' %}
{% block content %}
<title>ToDoList</title>

<style>
    .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    h2{
        font-size: 30px;
    }
    .menu {
    flex-flow: column nowrap;
    display:flex;
    margin: 10px;
    text-align: center;
    }

    .kartu:hover{
        transform: scale(1.025);
        box-shadow: 5px 6px 6px 2px #e9ecef;
    }

    @media(min-width:600px) {
    .menu {
    flex-flow: row;
    display:flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    }
</style>

{% load static %}
<link rel="stylesheet" href="{% static 'todolist/style.css' %}"/>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TODOLIST</a>
        <div class="navbar-nav">
          <a href="{% url 'todolist:logout' %}" class="btn btn-secondary btn-outline-red" role="button" aria-pressed="true">Logout</a>
        </div>
    </div>
</nav>  
<div class = "menu">
    <h2>Selamat datang {{user}} !</h2>
    <div>
        <a class="btn btn-primary create-task" href="{% url 'todolist:create_task' %}">
            Tambah Task Baru 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
            </svg> 
        </a>
    </div>
</div>

<div class="container" >
    {% comment %} Add the data below this line {% endcomment %}
    {% for task in todolist %}
        {% if task.user == user %}
            <div class="m-2 kartu">
                {% if task.is_finished %}
                <div class="card text-center h-100 border-success mb-3 text-success" style="width: 18rem;">
                    <div class="card-header bg-success text-white">Selesai</div>

                    <div class="card-body">
                      <h5 class="card-title">{{task.title}}</h5>
                      <p class="card-text">{{task.description}}</p>
                    </div>
                    
                    <div class="tombol text-center mb-2">
                        <a href="change-status/{{task.id}}" class="btn btn-primary">Ubah Status</a>
                        <a href="delete/{{task.id}}" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                            Delete
                        </a>
                    </div>
                    
                    <div class="card-footer text-muted ">
                        {{task.date}}
                    </div>
                </div>
                    
                {% else %}
                <div class="card text-center h-100" style="width: 18rem;">
                    
                    <div class="card-header">Belum Selesai</div>

                    <div class="card-body">
                      <h5 class="card-title">{{task.title}}</h5>
                      <p class="card-text">{{task.description}}</p>
                    </div>
                    
                    <div class="tombol text-center mb-2">
                        <a href="change-status/{{task.id}}" class="btn btn-primary">Ubah Status</a>
                        <a href="delete/{{task.id}}" class="btn btn-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                            Delete
                        </a>
                    </div>
                    
                    <div class="card-footer text-muted">
                        {{task.date}}
                    </div>
                </div>
                {% endif %}
                
            </div>
                

        {% endif %}
    {% endfor %}
</div>


    

<br>


{% endblock content %}