{% extends 'base.html' %}
{% block content %}

<head>
    <title>HTML</title>
    <style>
        /* th {
            width:inherit;
        } */

        tr, th, td{
            vertical-align: top;

            color:rgb(16, 97, 148); 
            border: 1px solid;
            padding: 5px;
        }
        
    </style>
</head>
<body>
    <h1>Tugas 3 Assignment PBP/PBD</h1>

    <h5>Name: {{nama}}</h5>

    <h5>Student ID: {{npm}} </h5>

    <table>
        <tr>
        <th>Title</th>
        <th>Watched</th>
        <th>Rating</th>
        <th>Release Date</th>
        <th>Review</th>
        </tr>
        {% comment %} Add the data below this line {% endcomment %}
        {% for anime in watchlist %}
            <tr>
                <td>{{anime.title}}</td>
                <td>{{anime.watched}}</td>
                <td>{{anime.rating}}</td>
                <td>{{anime.release_date}}</td>
                <td><a href="{{anime.review}}">Link</a></td>
            </tr>
        {% endfor %}
    </table>
</body>

{% endblock content %}