h2{ color: rgb(5, 85, 135) ;}
tr, th, td{
    vertical-align: top;
    color:rgb(16, 97, 148); 
    border: 1px solid;
    padding: 5px;
    text-align: center;
}

.tombol{ 
    margin-bottom: 10px;
}   

.menu {
    display:flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
nav{
    background-color: blanchedalmond !important;
}

.navbar-brand {
    box-sizing: border-box;
    padding: 10px;
    border-radius:10px;
}
.navbar-brand:hover{
    box-sizing: border-box;
    padding: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
h2{
    font-size: 30px;
}
.menu {
flex-flow: column nowrap;
display:flex;
margin: 10px;
text-align: center;
}

.kartu:hover{
    transform: scale(1.025);
    box-shadow: 5px 6px 6px 2px #e9ecef;
}

@media(min-width:600px) {
.menu {
flex-flow: row;
display:flex;
margin: 10px;
flex-wrap: wrap;
justify-content: space-between;
}
}

